@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(34, 34 ,34);
    overflow: hidden;
}

main{
    background-color: white;
    margin: 10vh auto;
    width: 80vw;
    max-width: 400px;
    height: 80vh;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0px 0px 16px green;
    overflow: hidden;
}

div.img{
    border-top: 10px;
    display: block;
    background: url('../imagens/hardware_deitado.jpg') no-repeat;
    height: 200px;
    background-size: cover;
}
