@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(34, 34 ,34);
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(to bottom,rgb(9, 95, 38),rgb(1, 29, 5));
    height: 25vh;
    padding-top: 20px;
}


header h1{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.527);
}

header ul{
    padding-top: 20px;
}


header > ul > li{
    margin: 3px;
    padding: 4px;
    display: inline-block;
    border: 2px solid rgba(0, 128, 0, 0.945);
    border-radius: 15px;
}
header > ul > li > a{
    color: rgb(0, 168, 0);
    text-decoration: none;
}

header > ul > li > a:hover{
    color: rgb(4, 209, 4);
    font-weight: bolder;
    text-decoration: none;
}

header > div{
    margin: auto;
}


main > h2{
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 128, 0, 0.418);
}

span{
    color: rgb(9, 136, 51);
    font-weight: 200px;
}

p.textmain{
    width: 80vw;
    background-color: rgba(0, 128, 0, 0.651);       
    max-width: 450px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.651);
}

article img{
    display: block;
    margin: 1em auto;
    width: 80vw;
    max-width: 450px;
    height: 40vh;
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.651);
}

.btn{
    display: block;
    margin: 30px auto;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(11, 167, 63);
    width: 50vw;
    max-width: 400px;
    padding: 15px 5px;
    border-radius: 15px;
    color: rgb(9, 136, 51);
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.651);
    text-shadow: 0px 0px 5px rgba(0, 128, 0, 0.295);
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(11, 230, 84);
    width: 55vw;
    font-weight: bolder;
    box-shadow: 0px 0px 51px rgba(0, 128, 0, 0.651);
}

footer{
    height: 40px;
    padding-top: 50px;
    padding-bottom: 2px;
}

footer > p{
    padding: 0px 20px 20px 20px;
    color: rgb(9, 95, 38);
    font-weight: bold;
}
