@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(34, 34 ,34);
}

header{
    background-image: linear-gradient(rgb(9, 95, 38),rgb(34, 34 ,34));
}

header h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

li{
    display: inline-block;
    margin: 8px;
    
}

li > a{
    text-decoration: none;
    color: rgb(184, 255, 209);
    border: 2px solid rgb(9, 136, 51);
    border-radius: 20px;
    padding: 5px;
}

li > a:hover{
    background-color: rgb(9, 136, 51);
    color: white;
    font-weight: bolder;
    transition: .4s all;
}

ul{
    padding-top: 10px;
    margin: auto;
}

main > aside > h2{
    padding: 20px;
    text-align: center;
    color: white;
}

span{
    color: rgb(9, 136, 51);
    font-weight: 200px;
}

p{
    background-color: rgba(255, 255, 255, 0.555);  
    border-radius: 10px;  
    width: 400px;
    margin: auto;
    padding: 10px;
    
}

img{
    padding-top: 20px;
}